@font-face {
    font-family: 'comic';
    src: url(/fonts/ComicNeue-Bold.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/Background.jpg);
    background-size: 100vw 100vh;
}

header {
    margin: 1.5rem;
}

header img {
    width: 70vw;   
}

canvas {
    width: 80vw;
    height: 85vh;
}

h1{
    font-size: 1.3rem;
    margin: 1.2rem 0;
}

p {
    font-family: 'comic';
}

span {
    font-family: 'comic';
}

.timer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.timer p{
    color: aqua;
}

#controls img{
    width: 4.5rem;
}

#controls{
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
    color: aqua;
}

#down, #down2{
    transform: rotate(180deg);
}

#left, #left2{
    transform: rotate(270deg);
}

#right, #right2{
    transform: rotate(90deg);
}


.bold{
    font-weight: bold;
}

.d-none{
    display: none;
}
#controls-desktop{
    display: none;
    color: aqua;
}

@media only screen and (max-width: 600px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100vw;
        height: 100vh;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header{
        margin: 0.8rem;
    }

    header img {
        width: 85vw;
    }

    
    .timer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1rem;
    }

    #controls-desktop{
        display: none;
    }
}

@media only screen and (min-width: 1300px) {
    
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 99vw;
    }

    .information {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-color: white;
        border-width: 1px;
        border-style: solid;
        width: 18vw;
        height: 85vh;
    }


    canvas {
        width: 30vw;
        height: 85vh;
    }


    .timer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;        
    }
    .timer p{
        margin: 1rem;
        font-size: 2rem;
        margin-bottom: 5rem;
    }

    #controls-desktop{
        margin: 1rem;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: 
    }
    #controls-desktop div{
        margin-top: 1rem;
    }

    #controls {
        display: none;
    }
}